@import url('http://fonts.googleapis.com/css?family=Arapey');

.tabulka {
    position: absolute;
    transform: translateY(-105px) translateX(5px);
    color: black;
    font-family: 'Arapey';
    font-size: 20px;
}

.meniny {
    position: absolute;
    transform: translateY(60px) translateX(12px);
    color: black;
    font-family: 'Arapey';
    font-size: 20px;
}

.onas {
    position: absolute;
    transform: translateY(500px) translateX(12px);
    color: black;
    font-family: 'Arapey';
    font-size: 20px;
}

.denishra {
    position: absolute;
    transform: translate(6%, 205%);
    color: black;
    font-family: 'Arapey';
    font-size: 20px;
}

.kikohra {
    position: absolute;
    transform: translate(-360%, -1550%);
    color: white;
    font-family: 'Arapey';
    font-size: 20px;
}

.hobohra {
    position: absolute;
    transform: translate(6%, 205%);
    color: black;
    font-family: 'Arapey';
    font-size: 20px;
}

.gosohra {
    position: absolute;
    transform: translate(6%, 200%);
    color: white;
    font-family: 'Arapey';
    font-size: 20px;
}