@import 'utils/shared/functions';
.UniqueDropzone .BlockLayout .BlockWrapper .Block:nth-child(1n + 3):not(.draggable-source--is-dragging) {
    min-height: 0;
    height: 0;
}
.UniqueDropzone .BlockLayout--typeFlex .BlockWrapper {
    flex: 1 1 calc(50% - get-layout-length(gutter));
}
@media screen and (min-width: get-breakpoint(mobile, wide)) {
    .UniqueDropzone .BlockLayout--typeFlex .BlockWrapper {
        flex-basis: calc(25% - get-layout-length(gutter));
    }
}
.UniqueDropzone .BlockLayout--typeGrid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'a a b b' 'a a d d' 'c c d d' 'e e f f' 'e e g g' 'h h h h';
    margin-top: get-border(thin);
    border: get-border(thin) solid get-color(coal, dark);
    background-color: get-color(coal, dark);
}
@media screen and (min-width: get-breakpoint(tablet)) {
    .UniqueDropzone .BlockLayout--typeGrid {
        grid-template-columns: 1fr 1.025fr 1.025fr 1fr;
        grid-template-areas: 'a c c g' 'a c c g' 'a d f g' 'b d f g' 'b e f h' 'b e f h';
        margin-top: get-border();
        border-width: get-border();
    }
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper--isDropzone::before {
    content: '';
    position: absolute;
    top: -get-border(thin);
    right: -get-border(thin);
    bottom: -get-border(thin);
    left: -get-border(thin);
    display: block;
    pointer-events: none;
    background-color: blue;
    opacity: 0;
    transition: opacity get-duration(fast) get-easing();
}
@media screen and (min-width: get-breakpoint(tablet)) {
    .UniqueDropzone .BlockLayout--typeGrid .BlockWrapper--isDropzone::before {
        top: -get-border();
        right: -get-border();
        bottom: -get-border();
        left: -get-border();
    }
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper--isDropzone.draggable-dropzone--occupied:hover::before {
    opacity: 1;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockContent {
    border: 0;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(1) {
    grid-area: a;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(2) {
    grid-area: b;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(3) {
    grid-area: c;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(4) {
    grid-area: d;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(5) {
    grid-area: e;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(6) {
    grid-area: f;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(7) {
    grid-area: g;
}
.UniqueDropzone .BlockLayout--typeGrid .BlockWrapper:nth-child(8) {
    grid-area: h;
}
@media screen and (min-width: get-breakpoint(tablet)) {
    .UniqueDropzone .BlockLayout--typeFlex .BlockContent {
        min-height: rows(3);
    }
}
@media screen and (min-width: get-breakpoint(desktop)) {
    .UniqueDropzone .BlockLayout--typeFlex .BlockContent {
        min-height: rows(4);
    }
}
@media screen and (min-width: get-breakpoint(tablet)) {
    .UniqueDropzone .BlockLayout--typeGrid .BlockContent {
        min-height: rows(3, false, true);
    }
}
@media screen and (min-width: get-breakpoint(desktop)) {
    .UniqueDropzone .BlockLayout--typeGrid .BlockContent {
        min-height: rows(4, false, true);
    }
}
