.mapa{
    opacity: .4;
    position: absolute;
}

#portugalsko{

    right: 0;
    transform: translate(-648%,311.5%);
    z-index: 3;
}

#spanielsko{

    right: 0;
    transform: translate(-140%,175%);
    z-index: 2;
}

#francie{

    right: 0;
    transform: translate(-105%,93%);
    z-index: 3;
}

#svajciarsko{

    right: 0;
    transform: translate(-243.5%,659%);
    z-index: 4;
}

#belgicko{

    right: 0%;
    transform: translate(-415%,390%);
    z-index: 5;
}

#holandsko{

    right: 0;
    transform: translate(-460%,250%);
    z-index: 4;
}

#nemecko{

    right: 0;
    transform: translate(-62%,59%);
    z-index: 2;
}

#rakusko{

    right: 0;
    transform: translate(-51%,250%);
    z-index: 4;
}

#taliansko{
    right: 0;
    transform: translate(-5%,110%);
    z-index: 1;
}

.mapa2{
    display: inline-block;
    width: calc(10px + 100px);

}
body{
    background-color: black;
    margin: 0;
}
section{
    background-color: white;

    border: 3px solid black;
    margin-top: 101px;
    width: fit-content;

}

.tlacidlo {
    right: 0;

    transform: translate(300%,3010%);
}

.case{
    right: 0;

    top: 60%;
    position: absolute;
    background-color: black;
}
h5{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
}
