body{
    margin: 0;
    background: black;
}

.mapa{
    opacity: .4;
    position: absolute;
}

#rusko{
    top: 0;
    right: 0;
    z-index: 1;
    transform: translateY(6%);
}

#estonsko{
    top: 0;
    right: 0;
    transform: translate(-417%, 648%);
    z-index: 15;
}

#litva{
    top: 0;
    right: 0;
    transform: translate(-248%, 630%);
    z-index: 10;
}

#bielorusko{
    top: 0;
    right: 0;
    transform: translate(-127%, 333%);
    z-index: 3;
}

#ukraine{
    top: 0;
    right: 0;
    transform: translate(-3%, 231%);
    z-index: 2;
}

#lotyssko{
    top: 0;
    right: 0;
    transform: translate(-246%, 650%);
    z-index: 4;
}

#moldavia{
    top: 0;
    right: 0;
    transform: translate(-121%, 700%);
    z-index: 4;
}

.mapa2{
    position: relative;
    display: block;
    top: 0;
    left: 90%;
    width: calc(10px + 100px);
    transform: translate(-500%, 30%);
}

.resetBtn{
    position: relative;
    bottom: 0;
    left: 70%;
    transform: translate(-30%, 3900%);
    width: 100px;
    font-weight: bold;
    z-index: 1000;
}

p{
    color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 30px;
}

h6{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
}