@import url('http://fonts.googleapis.com/css?family=Arapey');

.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    min-width: 450px;
    background-color: #323C50;
    background-size: 100%;
    border: solid 1px black;
    bottom: 15%;
    padding-top: 20px;
    font-family: 'Arapey', serif;
}

#inputRow {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#outputBackground, #actualBackground{
    background-color: silver;
    height: 40px;
    border-radius: 15px;
    color: #FB667A;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px;
    text-align: center;
}

#search {
    color: #FB667A;
}




