.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    width: 85%;
    min-width: 450px;
    background-image: url("img/calendar.jpg");
    background-size: 100%;
    border: solid 1px black;
    bottom: 15%;
}

#inputRow {
    margin-top: 10px;
}


