body{
    margin: 0;
    color: white;
    background-image: url('img/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-15%);
    transform: translateY(-50%);
    font-size: 5rem;
}

footer{
    color: white;
    position: absolute;
    bottom: 0;

    width: 100%;
    background: black;
    opacity: .8;
}

@media only screen and (max-width: 1020px) {
    h1{
        font-size: 4rem;
    }
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

#error_709578bf28c8d1ef64a762af03f8536c2b2c8320
{
    display: none;
}

.visitorcounter{
    position: absolute;
    right: 0;
    top: 1.7%;
}

footer p{
    float: right;
}